<h3 class="mb-12 text-center text-4xl font-bold text-blue-navy lg:text-5xl">
  ¡Registrate!
</h3>
<form class="text-white grid w-full gap-4 pb-9 md:min-w-[350px] lg:grid-cols-2">
  <div class="flex flex-col lg:col-span-2">
    <label class="mb-2 text-blue-navy" for="">Correo electrónico</label>
    <input
      class="border-b-2 border-blue-navy bg-transparent px-2 py-1 text-blue-navy outline-none transition-all ease-in-out focus-visible:border-blue-light"
      type="email"
      placeholder="Ej. alfred1@Ticketly.com"
    />
  </div>

  <div class="flex flex-col">
    <label class="mb-2 text-blue-navy" for="">Primer nombre</label>
    <input
      class="border-b-2 border-blue-navy bg-transparent px-2 py-1 text-blue-navy outline-none transition-all ease-in-out focus-visible:border-blue-light"
      type="text"
      placeholder="Ej. Jaime"
    />
  </div>

  <div class="flex flex-col">
    <label class="mb-2 text-blue-navy" for="">Primer apellido</label>
    <input
      class="border-b-2 border-blue-navy bg-transparent px-2 py-1 text-blue-navy outline-none transition-all ease-in-out focus-visible:border-blue-light"
      type="text"
      placeholder="Ej. Gomez"
    />
  </div>

  <div class="flex flex-col">
    <label class="mb-2 text-blue-navy" for="">Contraseña</label>
    <input
      class="border-b-2 border-blue-navy bg-transparent px-2 py-1 text-blue-navy outline-none transition-all ease-in-out focus-visible:border-blue-light"
      type="password"
    />
  </div>

  <div class="flex flex-col">
    <label class="mb-2 text-blue-navy" for="">Verificar contraseña</label>
    <input
      class="border-b-2 border-blue-navy bg-transparent px-2 py-1 text-blue-navy outline-none transition-all ease-in-out focus-visible:border-blue-light"
      type="password"
    />
  </div>

  <p class="mt-6 text-center font-normal text-blue-navy lg:text-left">
    <span class="text-sm">¿Ya tienes cuenta?, </span>
    <a class="text-sm underline underline-offset-2" routerLink="/">Ingresa</a>
  </p>

  <div class="flex lg:col-span-2 lg:justify-end">
    <button
      class="mt-6 w-full rounded-lg bg-green-dark px-4 py-4 text-white-normal transition-all ease-in-out hover:bg-green-dark/75 lg:w-auto"
    >
      Registrar
    </button>
  </div>
</form>
